Source: lliurex-version-timestamp
Section: admin
Priority: optional
Maintainer: Raul Rodrigo Segura <raurodse@gmail.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: http://lliurex.net
Vcs-Git: https://gitlab.com/gaticos/lliurex-version-timestamp.git

Package: lliurex-version-timestamp
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Package to indicate mirror timestamp
 This package is generated automatically by mirror scripts to indicate when
 mirror has been updated
